/*===============================================================================================
                                Shop page Header
================================================================================================*/
#shop-header {
	background-image: url("../img/banner/b1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 40vh;
	max-height: 400px;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}

#shop-header h2,
#shop-header p {
	color: #fff;
}

/*===============================================================================================
                                Shop page product pagination
================================================================================================*/
#pagination {
	text-align: center;
}

#pagination a {
	text-decoration: none;
	background-color: #088178;
	padding: 15px 20px;
	border-radius: 4px;
	color: #fff;
	font-weight: 600;
}

#pagination a i {
	font-size: 16px;
	font-weight: 600;
}
